<!DOCTYPE html>
<html>
    <head>
        <title>Registrieren</title>
    </head>
    <body>
        <form action="/begruessung" method="POST">
        <h1>Bitte registriere dich hier</h1>
        <p>Wähle einen Benutzernamen:</p>
        <input type="text" name="benutzername"><br>
        <p>Gib nun deine E-Mailadresse ein:</p>
        <input type="email" name="mail"><br>
        <p>Wähle nun deinen Passwort:</p>
        <input type="password" name="passwort"><br>
        </form>
    </body>
</html>